@font-face {
  font-family:"gotica" ;
  src: url(OldLondon.ttf);
}
@font-face {
  font-family:"SpaceGrotesk";
  src: url(SpaceGrotesk-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family:"SpaceGrotesk";
  src: url(SpaceGrotesk-Bold.ttf);
  font-weight: bold;

}


.media {
  max-width: 768px;
  max-width: 90%;
  height: auto;

}

body {
  background-color: rgb(22, 36, 54);
  margin: 0px;
  
}

nav {
  background-color:teal;
}
nav ul {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 10px;
  gap: 15px;
  flex-wrap: wrap;
}

nav li{
  margin: 0px;
}

nav a{
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: rgb(42, 92, 158);
  height: 50px;
  padding: 0 16px;
  min-width: 80px;
  text-align: center;
}

nav a:hover{
  background-color: rgb(26, 56, 95);
}


.titulo, .subtitulo, .titulo_secao, .subtitulo_secao {
  text-align: center;
}


.corpo_texto {
  font-size:20px;
  text-align: left;
  margin: 16px;
  text-indent: 20px;
  
}

p {
  font-family:"SpaceGrotesk";
  margin: 16px;
}

a:link {
  color: whitesmoke;
  text-decoration: none;
}
a:visited {
  color: burlywood;
}
#gato_arabe {
  width:90%;
  height: auto;
  max-width: 500px;
  padding: 10px;
  margin: 0px auto;
  display: block;

}

.titulo {
    color: lightblue;
    font-size: 50px;
    font-family: gotica ;
}
.subtitulo{
   color:lightblue;
   font-style: italic; 
/*   border-style: dotted;*/
}

.titulo_secao{
  font-size:  25px;
  font-family:"SpaceGrotesk", bold;
   
}

.subtitulo_secao{
  font-size: 20px;
  font-family:"SpaceGrotesk", normal;
  }

.container{
  display: flex;
  justify-content: center;
}

